body {
    font-family: "Helvetica Neue", Helvetica, serif;
}

#LeftColumn {
    background-image: url("images/bird.png");
    background-color: #1DA1F2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px 130px 40px;
}

#RightColumn {
    background-color: #192C3D;
    padding: 80px 130px 40px;
}


#signup {
    background-color: #1DA1F2;
    color: white;
}

#signup a {
    color: white;
    text-decoration: none;
}

#login {
    border: 1px solid #1DA1F2;
    background-color: #192C3D;
}

#login a {
    color: #1DA1F2;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #4CAF50;
}

.row {
    color: white;
}

.navbar-custom {
    border-top: 1px solid #141d26;
    background-color: #1b2836;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav-item {
    padding: 0 5px 0 5px;
}

.nav-link {
    color: #aab8c2;
    font-size: 11px;
    text-align: center;
}

.navbar-text {
    color: #aab8c2;
    font-size: 11px;
}

a:link a:hover {
    text-decoration: underline;
}
